@use "vars"

/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	/**/
	// #footer
	// 	>.footer-content
	// 		max-width: 1110px
@media only screen and (max-width : 1030px)
	#advantages
		margin-top: 20px 

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	/**/
	.main_banner .mb_info > h1
		font-size: 45px
	.info_1_inner .info_1_team > img
		max-width: 300px
	.info_1_inner .team_desc h2
		font-size: 25px
	.info_2_inner .engineers_img > img
		max-width: 420px
	.info_2_inner .engineers_desc h2
		font-size: 25px
	.reviews .rew_inner .companies
		gap: 20px
		height: 60px
	.pf_info
		margin-bottom: 80px
		display: flex
		flex-direction: column
		align-items: stretch
	#pre_footer .pf_info>h4
		max-width: none
	#pre_footer .pf_info>.pf_images 
		max-width: none
	#pre_footer .pf_info > img
		width: 100%
	#pre_footer .form_wrapper
		margin: 10px auto
	#footer .mnu_footer_wrapper>.mnu_footer 
		width: 17%
	#footer > .container > div 
		margin: 0
	.info_2_inner 
		left: 20px
	#footer .footer-content b.heading
		font-size: 15px
	#footer .mnu_footer_wrapper>.mnu_footer>ul>li>a
		font-size: 13px
	#footer .newsletter>form>input
		max-width: 100%
/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	/**/
	section
		padding: 40px 0
	#footer .footer-content
		flex-wrap: wrap
		justify-content: center
	#footer .footer-content>.footer_col-1
		width: 50%
		order: 1
	#footer .footer-content>.footer_col-3
		order: 2
		width: 37%
	#footer .footer-content>.footer_col-2
		order: 3
		justify-content: center
	#footer .logo_info
		max-width: none
	.info_2_inner 
		left: 0px
	#header .inner_header .right_side_header>.btn_simple
		display: none
	#header .inner_header .right_side_header .mnu_top>li>a 
		padding: 5px 35px 5px 0
	#header .inner_header .right_side_header .mnu_top>li.has_sub_menu::after
		right: 20px
	#top_banner .main_banner
		padding-top: 50px
		padding-bottom: 150px
	#advantages
		margin-top:0
	#top_banner .main_banner .img-responsive
		max-width: 380px 
		margin: 0 auto
	.main_banner .mb_info>h1
		font-size: 40px
	.main_banner .mb_info>.descr
		font-size: 16px
	#advantages .inner_advantages>h2 
		margin: 0
	.info_1_inner .info_1_team>img
		max-width: 220px
	.info_1_inner
		flex-direction: column  
		gap: 30px
	.info_1_inner .team_desc
		align-items: center
		>.desc
			text-align: center
			padding: 0 20px
	.info_2_inner
		flex-direction: column
		gap: 30px
	.info_2_inner .engineers_desc
		width: 90%
		align-items: center
		>.desc
			text-align: center
	// .info_2_inner .engineers_img>img
	// 	max-width: 100%
	.info_2_inner .engineers_desc h2
		padding-left: 5px
	.info_2_inner .engineers_desc .desc
		padding-left: 5px
	.reviews > .container
		// height: 450px
	.reviews .rew_inner
		>.item_rev .quotes 
				height: 140px
				font-size: 18px
		>.companies
			height: 100px
			justify-content: center
			gap: 30px
	#pre_footer .pf_info>h4
		text-align: center
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	/**/
	#top_banner .main_banner .img-responsive,
	.info_2_inner .engineers_img>img 
		max-width: 80%
	.main_banner .mb_info>h1, 
	#advantages .inner_advantages>h2,
	#pre_footer .pf_info>h4
		text-align: center
		font-size: 30px
	.info_1_inner .team_desc h2,
	.info_2_inner .engineers_desc h2
		text-align: center
	.reviews
		padding-top:150px
		.rew_inner>.item_rev 
			>.quotes
				font-size: 14px
				height: 140px
			>img
				max-width: 60px
	.reviews .rew_inner>.companies
		height: 125px
		>img
			max-height: 23px
	#pre_footer .pf_info
		>img
			margin: 20px 0
		>.pf_images
			gap: 20px
			>img
				max-height: 60px
	#pre_footer .form_wrapper form>a>img
		max-width: 100%
	#footer .footer-content
		b.heading
			font-size: 12px
		a
			font-size: 8px
			padding-bottom: 6px
	#footer .mnu_footer_wrapper
		gap: 10px
		justify-content: space-around
		>.mnu_footer>ul>li>a
			font-size: 8px
	.info_2_inner .engineers_img 
		padding: 0
		text-align: center

	// работа с гамбургером	
	#header
		position: relative 
		.inner_header .right_side_header
			
			>.mnu_top
				left: 0 
				top: 85px
				display: none
				position: absolute
				width: 100%
				box-shadow: 0 3px 6px rgba(0,0 ,0 ,0.16 )
				background-color: #fff
				padding: 10px 0
				z-index: 10
				>li
					display: block //или разблокировать свойство в main mnu_top-flex
					>a
						font-size: 13px
						padding: 5px 15px
						text-decoration: none
					>.sub_menu
						display: block
						position: relative
						top: auto
						box-shadow: none
						border-radius: none
						animation: none
						padding-left: 10px
						padding-top: 2px
						>li
							>a
								font-size: 12px
								text-decoration: none 
	#header .inner_header .right_side_header .mnu_top>li.has_sub_menu::after
		display: none
	.hamburger
		display: block
	.main_banner .mb_info
		align-items: center
		>.descr
			text-align: center
	#advantages
		padding-top: 0px
	#info_2
		padding-bottom: 0
	#footer .footer-content>.footer_col-1
		width: 70%
	#footer .footer-content>.footer_col-3 
		width: 70%
	.main_banner
		padding-bottom: 120px  
		.mb_info>.btns
			>a
				text-align: center
	// 		>.btn
	// 			padding: 6px 12px
	// #pre_footer
	// 	padding-top:0 
	// .reviews
	// 	padding-bottom: 170px
	// #top_banner .main_banner 
	// 	padding-bottom: 130px
	// #advantages .inner_advantages>h2,
	// #pre_footer .pf_info>h4
	// 	font-size: 22px
	// #advantages .inner_advantages>.description
	// 	font-size: 16px
	// .info_1_inner .team_desc h2, .info_2_inner .engineers_desc h2
	// 	font-size: 16px
	#footer .footer-content b.heading
		margin-bottom: 0px
		height: 40px
		font-size: 10px
	#footer .copyright
		>p 
			font-size: 10px
		>img
			width: 12px
			height: 12px
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/
	.main_banner
		padding-bottom: 120px  
		.mb_info>.btns
			>a
				text-align: center
			>.btn
				padding: 6px 12px
	#pre_footer
		padding-top:0 
	.reviews
		padding-bottom: 170px
	#top_banner .main_banner 
		padding-bottom: 130px
	#advantages .inner_advantages>h2,
	#pre_footer .pf_info>h4
		font-size: 22px
	#advantages .inner_advantages>.description
		font-size: 16px
	.info_1_inner .team_desc h2, .info_2_inner .engineers_desc h2
		font-size: 16px	

/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

