@use "vars" as *
*
	margin: 0
	padding: 0
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	&:before, &:after
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box
	&:focus
		outline: none

*::-webkit-input-placeholder
	color: #c0c0c0
	opacity: 1

*:-moz-placeholder
	color: #c0c0c0
	opacity: 1

*::-moz-placeholder
	color: #c0c0c0
	opacity: 1

*:-ms-input-placeholder
	color: #c0c0c0
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #000
body input:required:valid,
body textarea:required:valid
	color: #000

html,body
	height: 100%

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden
	opacity: 1

img
	max-width: 100%

.img-responsive
	display: block
	max-width: 100%
	height: auto

//btns

.btn_simple
	color:$accent
	border: 1px solid $accent
	text-decoration: none
	font-weight: 600
	padding: 6px 35px
	transition: all 0.4s ease
	border-radius: 16px 
	&:hover 
		background-color: $accent
		color: white

.btn
	color: #fff
	// border: 1px solid $accent
	background-color: $accent
	text-decoration: none
	padding: 12px 24px
	transition: all 0.2s ease
	border-radius: 23px 
	box-shadow: 0 3px 6px rgba(0,0 ,0 ,0.16 )
	&:hover 
		background-color: lighten($accent,10% )
		// border-color: lighten($accent,10% )
		color: darken(#fff,10% )
	
	&.btn_white
		// padding: 
		background-color: #fff
		color: $accent
		&:hover 
			background-color: darken(#fff,17% )
			// border-color: lighten($accent,10% )
			color: lighten($accent,7% )
			// color:#fff

//btns

#top_banner
	background-size: cover
	background-repeat: no-repeat
	background-position: center

#header
	padding-top: 24px 
	.inner_header
		display: flex
		align-items: center
		justify-content: space-between
		.logo
			display: block
			width: 48px
			height: 48px
			>img
				width: 100%
		.right_side_header
			display: flex
			// justify-content: space-between
			gap: 40px
			align-items: center
			.mnu_top
				list-style-type: none
				>li
					display: inline-block
					position: relative
					
					>a
						display: block
						text-decoration: none
						padding: 5px 40px 5px 0px
						padding-right: 40px
						// font-size: 14px
						font-weight: 500
						color: #000
						transition: color 0.2s ease
						// или >a:hover
						&:hover
							color: $accent
					>.sub_menu
						position: absolute
						top:35px
						background-color: #fff
						box-shadow: 0 3px 6px rgba(0,0 ,0 ,0.16 )
						z-index: 10
						border-radius: 5px
						padding: 5px 0
						// можно так(5 урок), но появлется меню при наведии в близ области
						// opacity: 0
						// transition: opacity 0.4s ease
						animation: opac 0.6s 
						// особенность, нужно подгонять паддингами, чтобы не было зазора между элементов открывающим
						// и открывающимся
						display: none
						>li
							display: block
							>a
								padding: 3px 10px
								font-size: 14px
					&.has_sub_menu
						&:hover >.sub_menu
							display: block
						&::after
							content: ""
							display: block
							width: 8px
							height: 4px
							background-image: url('/src/img/arrow_down.svg')
							background-repeat: no-repeat
							background-position: center
							position: absolute
							top: 17px
							right: 25px 
						
				
@keyframes opac
	from 
		opacity: 0
	to
		opacity: 1


.notif
	background-color: $light_accent
	border-radius: 20px
	padding: 8px 16px
	display: flex
	align-items: center
	img
		width: 16px
		height: auto
		margin-right: 7px
	p
		color: $accent
	a
		text-decoration: none
		transition: all 0.2s ease 
		color: $accent
		border-bottom: 1px solid $accent
		&:hover
			color: darken($accent, 10%)
			border-color: darken($accent, 10%)


.main_banner
	padding-top: 130px
	padding-bottom: 200px
	// height: 98vh
	.mb_info
		// в уроке без flex на margin всё (5 урок, ниже подпишу как в нем)
		display: flex
		flex-direction: column
		justify-content: space-between
		align-items: flex-start
		gap: 24px
		max-width: 472px
		>h1
			color: #000000
			text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5)
			font-size: 54px
			font-weight: 900
			line-height: 1.2
		>.descr
			color: #797c80
			font-size: 18px
			text-shadow: 0px 5px 6px rgba(0, 0, 0, 0.2)
			// так в уроке (5)
			// margin: 14px 0 44px
		>.btns
			display: flex
			align-items: center
			// в уроке нет контент и gap (5)
			gap: 16px
			justify-content: center 
